.reviews {
    text-align: center;
    border: solid 3px;
    margin-left: 100px;
    margin-right: 100px;
}

.review {
    border: solid 3px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.stars {
    font-size: 25px;
    color: yellow;
}